.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navb {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.link {
  padding-bottom: 10px;

  margin-left: 10px;
}

.cont {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 50px 50px;
  padding-top: 30px;
  padding-left: 20px;
}

.cont2 {
  display: grid;
  grid-template-columns: 100%;

  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 800px;
}

a {
  text-decoration: none;
  color: black;
}

html {
  background-image: url("https://images.pexels.com/photos/1056528/pexels-photo-1056528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  font-family: helvetica;
  color: white;
}

input {
  background: transparent;
  color: white;
  margin-bottom: 10px;
}

#f {
  font-size: 20px;
  background-color: white;
  color: white;
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

hr {
  color: rgba(255, 255, 255, 0.034);
}

.nav-link {
  color: white;
  font-size: 16px;
}

.win {
  padding-left: 10px;
}

input {
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: .5; /* Firefox */
  font-style: italic;
}

button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
}

.link2 {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px;
  border-radius: 4px;
  width: 70px;
}

nav {
  padding-left: 10px;
}


